<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"> Filter by</div>
            <div class="col-md-4">
                <input type="text"  [(ngModel)]='filterLabel'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter by: {{filterLabel}}</h4>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="producList.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                    (click)="toggleImage()"> {{btnShowImg}} image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let p of producListFiltered'>
                        <td>
                            <img *ngIf='imgShow'
                                 [src]='p.ImageUrl'
                                 [title]='p.ProductName'
                                 [style.width.px]='imgWidth'
                                 [style.Margin.px]='imgMargin' >
                        </td>
                        <td>{{p.ProductName |  uppercase}}</td>
                        <td>{{p.ProductCode | uppercase | ConvertToSpaces:'-' }}</td>
                        <td>{{p.Available}}</td>
                        <td>{{p.Price | currency: 'MZN ': 'symbol':'1.1-23'}}</td>
                        <td>{{p.StarRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>