<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"> Filter by</div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter by:</h4>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="producList.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"> Show image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let p of producList'>
                        <td>
                            <img [src]='p.ImageUrl'
                                 [title]='p.ProductName'
                                 [style.width.px]='imgWidth'
                                 [style.Margin.px]='imgMargin'>
                        </td>
                        <td>{{p.ProductName}}</td>
                        <td>{{p.ProductCode}}</td>
                        <td>{{p.Available}}</td>
                        <td>{{p.Price}}</td>
                        <td>{{p.StarRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>